.dropdown-class {
    background-color: transparent;
    height: 40px;
    border: 1px solid;
    width: 300px;
    color: #a8a8a8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #4A4949;
}

.dropdown-class option {
    background-color: transparent;
    color: black;
}