input {
    background-color: transparent;
    height: 40px;
    border: 1px solid;
    width: 300px;
    color: #FFFF;
    padding: 16px 8px;
    border-color: #4A4949;
    border-radius: 8px;
}

input::placeholder {
  color: #4A4949
}