input {
    background-color: transparent;
    height: 40px;
    border: 1px solid;
    width: 300px;
    color: #FFFF;
    padding: 8px 16px;
    border-color: #4A4949;
    border-radius: 8px;
}

input::placeholder {
  color: #a8a8a8
}

input[type="date"] {
  color: #a8a8a8
}

input[type="date"].has-value {
  color: #FFF
}