
header {
  background: linear-gradient(180deg, #17D9B1, #06151A);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-nav {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  padding: 60px 0;
}

.form--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.theme--section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}


.logo-tecboard {
  width: 100px;
  height: 20px;
}

.logo {
  background-color: black;
  width: 100%;
  padding: 10px;
}

.card--container {
  gap: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  width: 1000px;
  margin: 0 auto;
}

.agroup--container {
  display: flex;
  justify-content: start;
  gap: 24px 24px;
  align-items: stretch;
  flex-wrap: wrap;
}