
header {
  background: linear-gradient(180deg, #17D9B1, #06151A);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-nav {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  padding: 60px;
}


.logo-tecboard {
  width: 100px;
  height: 20px;
}

.logo {
  background-color: black;
  width: 100%;
  padding: 10px;
}
