.card-container {
    width: 282px;
    gap: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-infos {
    gap: 8px;
    padding: 24px 16px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
}

.card-infos .theme {
    background-color: #4A4949;
    color:white;
    gap: 10px;
    padding: 8px 8px;
    width: 94px;
    height: 28px;
    border-radius: 4px;
    font-size: 10px;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 10%;
}

.card-infos .date {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;

}

.card-infos .title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
}

.card-container img {
    width: 282px;
    height: 237px;
}