button {
    border-radius: 10px;
    background-color: #17D9B1;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: none;

    font-size: 16px;
    font-weight: 600;
    color: #212121,
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}