footer {
    width: 100%;
    height: 93px;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo--footer {
    width: 100px;
    height: 20px;
}